# Python básico
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/

# Entorno virtual
venv/
ENV/

# Variables de entorno
.env

# Archivos de IDE
.idea/
.vscode/

# Archivos estáticos recopilados
staticfiles/